services:
  mongo:
    image: mongo
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
      ME_CONFIG_BASICAUTH_ENABLED: true
      ME_CONFIG_BASICAUTH_USERNAME: mongoexpressuser
      ME_CONFIG_BASICAUTH_PASSWORD: mongoexpresspass

  backend:
    image: 855409827685.dkr.ecr.ap-southeast-1.amazonaws.com/my-todo-app:1.1
    depends_on: [mongo]
    environment:
      MONGODB_URI: mongodb://root:example@mongo:27017/todos?authSource=admin
      PORT: "3000"
    ports: ["3000:3000"]

volumes:
  db-data: